@inherits LayoutComponentBase

<div class="page d-flex flex-column min-vh-100">
    <div class="d-flex flex-grow-1">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main class="d-flex flex-column flex-grow-1">
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4 flex-grow-1">
                @Body
            </article>
        </main>
    </div>

    <footer class="footer text-center py-3 text-muted" style="background-color: #f8f9fa; border-top: 1px solid #dee2e6;">
        © @DateTime.Now.Year - Bc. Patrik Duch – All rights reserved.
    </footer>
</div>
